:root {
    --font-size: 18px;
    --body-background-color: #2b2b2e;
    --menu-background-color: rgba(43, 43, 46, 0.8);
    --blur-radius: 10px;
    --content-background-color: #333336;
    --content-border-color: #444447;
    --spacing-3: 1rem;
    --spacing-5: 2.5rem;

    --header-color: rgba(149, 216, 255, 0.9);
    --header-2-color: rgba(255, 239, 149, 0.9);
    --body-text-color: rgba(165, 183, 194, 0.9);
    --body-text-color-dark: rgba(36, 41, 43, 0.9);
    --link-text-color: rgba(149, 216, 255, 0.9);
    --link-hover-text-color: #ffffff;
    --link-active-text-color: #ffffff;
    --link-visited-text-color: #b2e3ff;
    --transition: all 0.2s ease-in-out;
    --border-radius: 0.5rem;
    /* Button colors */
    /* Default button colors (white-ish) */
    --btn-background-color: rgba(58, 58, 61, 0.9);
    --btn-hover-background-color: rgba(149, 216, 255, 0.9);
    --btn-active-background-color: rgba(149, 216, 255, 0.9);
    --btn-border-color: rgba(74, 74, 77, 0.9);
    --btn-box-shadow-color: rgba(149, 216, 255, 0.5);
    /* Primary button colors */
    --btn-primary-background-color: rgba(149, 216, 255, 0.8);
    --btn-primary-hover-background-color: rgba(149, 216, 255, 0.9);
    --btn-primary-active-background-color: rgba(149, 216, 255, 0.8);
    --btn-primary-border-color: rgba(149, 216, 255, 0.8);
    --btn-primary-box-shadow-color: rgba(149, 216, 255, 0.5);

    /* Card colors */
    --card-background-color: #3a3a3d;
    --card-border-color: #4a4a4d;
    --card-interactive-hover-background-color: rgba(149, 216, 255, 0.8);
    --card-interactive-hover-border-color: rgba(149, 216, 255, 0.8);
    --card-interactive-active-background-color: rgba(149, 216, 255, 0.8);
    --card-interactive-box-shadow-color: rgba(149, 216, 255, 0.5);

    /* Alerts */
    --alert-danger-background: rgba(160, 0, 0, 0.3);
    --alert-danger-color: rgba(255, 207, 207, 0.8);
    --alert-danger-border: 1px solid rgba(185, 0, 0, 0.8);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;

    font-size: inherit;
}

/* Utilities */
.p-3 {
    padding: var(--spacing-3) !important;
}

.p-5 {
    padding: var(--spacing-5) !important;
}

.mr-3 {
    margin-right: var(--spacing-3) !important;
}

.mb-5 {
    margin-bottom: var(--spacing-5) !important;
}

.my-3 {
    margin-top: var(--spacing-3) !important;
    margin-bottom: var(--spacing-3) !important;
}

.m-0 {
    margin: 0;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: var(--spacing-3);
}

.d-flex {
    display: flex;
}

.gap-3 {
    gap: 1rem;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.text-center {
    text-align: center;
}

/* Basic HTML elements styling */
html {
    height: 100%;
}

body {
    font-family: monospace;
    font-size: var(--font-size);
    background-color: var(--body-background-color);
    color: var(--body-text-color);
    margin: 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-bottom: 1rem;
}

h1 {
    color: var(--header-color);
}
h2 {
    color: var(--header-2-color);
}

* {
    box-sizing: border-box;
    margin: 0;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu li {
    /* padding: 0.25rem 0; */
    line-height: 2rem;
}

/* Link styles */
a {
    color: var(--link-text-color);
    text-decoration: none;
    transition: var(--transition);
    cursor: pointer;
}

p {
    margin-bottom: 1rem;
}

a:hover,
a:focus {
    color: var(--link-hover-text-color);
    text-decoration: none;
}
a:active {
    color: var(--link-active-text-color);
}
a:visited {
    color: var(--link-visited-text-color);
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
}

#app {
    height: 100%;
}

#main-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    transform: translateX(-100%);
    background-color: var(--menu-background-color);
    backdrop-filter: blur(10px);
    width: 14rem;
    backdrop-filter: blur(var(--blur-radius));
    border-right: 1px solid var(--content-border-color);
    transition: all 0.2s ease-in-out;
    flex-shrink: 0;
}

#menu.visible {
    transform: translateX(0);
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: var(--spacing-3);
    margin-right: var(--spacing-3);
}

#content {
    background-color: var(--content-background-color);
    border-top: 1px solid var(--content-border-color);
    padding: var(--spacing-3);
    flex: 1;
    border: 1px solid var(--content-border-color);
    border-radius: var(--border-radius);
    
}

#main header button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 1rem;
    cursor: pointer;
    color: var(--body-text-color);
    display: inline-block;
}
#main header button:hover {
    color: var(--link-hover-text-color);
    transition: var(--transition);
}

#download-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: var(--spacing-3);
}

/* Components */
.card {
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin-bottom: 1rem;
    color: var(--body-text-color);
}

.card.card-interactive {
    cursor: pointer;
    transition: var(--transition);
    color: var(--body-text-color);
}

.card.card-interactive:hover {
    background-color: var(--card-interactive-hover-background-color);
    border: 1px solid var(--card-interactive-hover-border-color);
    box-shadow: 0 0 0 3px var(--card-interactive-box-shadow-color);
    color: var(--body-text-color-dark);
}

.card.card-interactive:focus {
    background-color: var(--card-interactive-hover-background-color);
    border: 1px solid var(--card-interactive-hover-border-color);
    color: var(--body-text-color-dark);
    outline: none;
    box-shadow: 0 0 0 3px var(--card-interactive-box-shadow-color);
}

.card.card-interactive:active {
    background-color: var(--card-interactive-active-background-color);
    box-shadow: 0 0 0 3px var(--card-interactive-box-shadow-color);
}

/* Buttons */
.btn {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--btn-background-color);
    border: 1px solid var(--btn-border-color);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: var(--body-text-color);
    transition: var(--transition);
    text-decoration: none;
    text-align: center;
}

.btn .material-symbols-outlined {
    margin-right: var(--spacing-3);
}

.btn-lg,
.btn-lg .btn.material-symbols-outlined {
    font-size: x-large;
}

.btn:hover {
    background-color: var(--btn-hover-background-color);
    box-shadow: 0 0 0 3px var(--btn-box-shadow-color);
    text-decoration: none;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-box-shadow-color);
    text-decoration: none;
}

.btn:active {
    background-color: var(--btn-active-background-color);
    box-shadow: 0 0 0 3px var(--btn-box-shadow-color);
}

.btn.btn-primary {
    background-color: var(--btn-primary-background-color);
    border: 1px solid var(--btn-primary-border-color);
    color: var(--body-text-color-dark);
}

.btn.btn-primary:hover {
    background-color: var(--btn-primary-hover-background-color);
    box-shadow: 0 0 0 3px var(--btn-primary-box-shadow-color);
}

.btn.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-primary-box-shadow-color);
}

.btn.btn-primary:active {
    background-color: var(--btn-primary-active-background-color);
    box-shadow: 0 0 0 3px var(--btn-primary-box-shadow-color);
}

/* Alerts */
.alert {
    border-radius: var(--border-radius);
    padding: var(--spacing-3);
    margin-bottom: var(--spacing-3);
}

.alert.alert-danger {
    background-color: var(--alert-danger-background);
    color: var(--alert-danger-color);
    border: var(--alert-danger-border);
}

/* Media queries */
@media (min-width: 992px) {
    #main {
        width: calc(992px - 2rem);
        margin-left: auto;
        margin-right: auto;
    }
    #menu {
        display: block;
        position: static;
        background-color: var(--menu-background-color);
        backdrop-filter: none;
        transform: none;
        border: none;
    }
    #main header button {
        display: none;
    }

    #content-wrapper {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0.5rem;
        /* border-top: 1px solid var(--content-border-color);
        border-left: 1px solid var(--content-border-color); */
    }

    #download-buttons {
        flex-direction: row;
    }

    .btn {
        width: auto;
    }
}

@media (min-width: 1400px) {
    #main {
        width: calc(1400px - 2rem);
        margin-left: auto;
        margin-right: auto;
    }
}
