:root {
    --font-size: 18px;
    --body-background-color: #000216;
    --menu-background-color: #000216;
    --menu-background-transparent-color: #000216cc;
    --content-background-color: #00000e;
    --content-border-color: #00217a;
    --body-text-color: #00a2ff;
    --link-text-color: #95d8ff;
    --link-hover-text-color: #ffffff;
    --link-active-text-color: #ffffff;
    --link-visited-text-color: #00649e;
    --transition: color 0.2s ease-in-out;
}

html {
    height: 100%;
}

body {
    font-family: monospace;
    font-size: var(--font-size);
    background-color: var(--body-background-color);
    color: var(--body-text-color);
    margin: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    /* padding: 0.25rem 0; */
    line-height: 2rem;
}

/* Link styles */
a {
    color: var(--link-text-color);
    text-decoration: none;
    transition: var(--transition);
    cursor: pointer;
}

a:hover,
a:focus {
    color: var(--link-hover-text-color);
    text-decoration: underline;
}
a:active {
    color: var(--link-active-text-color);
}
a:visited {
    color: var(--link-visited-text-color);
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
}

#app {
    height: 100%;
}

#main-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    transform: translateX(-100%);
    background-color: var(--menu-background-transparent-color);
    backdrop-filter: blur(10px);
    width: 20rem;
    border-right: 1px solid var(--content-border-color);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease-in-out;
}

#menu.visible {
    transform: translateX(0);
}

#content {
    background-color: var(--content-background-color);
    border-top: 1px solid var(--content-border-color);
    padding: 1rem;
    flex: 1;
}

#main header button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 1rem;
    cursor: pointer;
    color: var(--body-text-color);
    display: inline-block;
}
#main header button:hover {
    color: var(--link-hover-text-color);
    transition: var(--transition);
}

@media (min-width: 768px) {
    #menu {
        display: block;
        position: static;
        background-color: var(--menu-background-color);
        backdrop-filter: none;
        transform: none;
        border: none;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }
    #main header button {
        display: none;
    }

    #content {
        border-radius: 0.5rem;
        border-top: 1px solid var(--content-border-color);
        border-left: 1px solid var(--content-border-color);
    }
}
